@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
body{
    font-family: "Ovo", serif;
    font-optical-sizing: auto;
}
.rb-nav a {
    text-transform: uppercase;
}

h1{
    font-family: "Ovo", serif;
    font-size: 1.4rem;
}
h2{
    font-size: 1.3rem;;
}