body {
  color: #222;
  background-color: #fff;
  font-family: "Courier Prime", monospace;
  line-height: 1.5;
  margin: auto;
  padding: 1rem;
  max-width: 768px;
}
img{
  max-width: 768px;
}

header{
  margin: 1rem auto 2rem;
}

header img.rb-logo{
  max-height: 64px;
}

footer {
  border-top: .05rem dashed #222;
  margin-top: 1rem;
  text-align: center;
}
footer img{
  height: 2rem;
}

a {
  color: #333;
  text-decoration: underline;
}

h1.rb-home-posts-title{
  border-top: .05rem dashed #222;
  margin-top: 2rem;
  padding-top: 1rem;
}

h2.rb-home-posts-year{
  border-bottom: .05rem dashed #222;
}

.rb-home-posts {
  display: grid;
  grid-template-columns: 5rem auto 10rem;
  gap: 1rem;
}

.rb-home-posts .rb-post-date{
  align-self:auto;
}

.rb-home-posts .rb-post-title{
  align-self:auto;
  justify-self:start;
  font-size: 1rem;
  margin:0 0 1rem 0;
}

.rb-home-posts .rb-post-title a{
  text-decoration: underline;
}

.rb-home-posts .rb-post-categories{
    align-self:auto;
    justify-self: end;
}

.rb-home-posts .rb-post-categories a{
  text-decoration: none;
  font-style: italic;
  color: #ccc;
}

.rb-home-posts .rb-post-categories a:hover{
  color: #666;
}

@media (max-width: 748px){
  img {
    max-width: calc(100vw - 2rem);
  }
}

@media (max-width: 480px){
  .rb-home-posts {
    grid-template-columns: 1fr;
    gap: .5rem;
  }
  .rb-home-posts .rb-post-title{
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
  }
  .rb-home-posts .rb-post-categories{
    display: none;
  }
}
