body {
  color: var(--rb-color);
  background-color: var(--rb-bg-color);
  line-height: 1.5;
  margin: auto !important;
  padding: 1rem;
  max-width: 768px;
}
a{
  color: var(--rb-link-color);
}
a:active, a:hover, a:focus{
  color: var(--rb-link-hover-color);
}
a:visited{
  color: var(--rb-link-visited-color);
}
img{
  max-width: 768px;
}

header{
  margin: 0 auto 2rem;
}

svg.rb-logo-svg{
  max-height: 64px;
  fill: var(--rb-color);
}

hr.rb-hr{
  margin: 1rem auto;
  border: .05rem dashed var(--rb-border-color);
}


footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: .05rem dashed var(--rb-border-color);
  margin-top: 1rem;
  text-align: center;
}
footer img{
  height: 2rem;
}

a {
  text-decoration: underline;
}

h1.rb-home-posts-title{
  margin-top: 0;
  margin-bottom: 0;
}

h3.rb-home-posts-year{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.rb-home-posts {
  display: grid;
  grid-template-columns: 4rem auto;
  gap: 1rem;
}

.rb-home-posts .rb-post-date{
  align-self:auto;
}

.rb-home-posts .rb-post-title{
  align-self:auto;
  justify-self:start;
  margin:0 0 0.5rem 0;
}

.rb-home-posts .rb-post-title a{
  text-decoration: none;
  margin-right: .4rem;
}

.rb-home-posts .rb-post-category{
  display: inline;
}

.rb-home-posts .rb-post-category a{
  text-decoration: none;
  font-size: .8rem;
  color: var(--rb-small-link-color);
  padding: .2rem .5rem;
  border: .1rem solid var(--rb-border-color);
  border-radius: .5rem;
}

.rb-home-posts .rb-post-category a:hover{
  color: var(--rb-small-link-hover-color);;
}

h1.rb-single-title{
  margin: 0;
}

.rb-single-subtitle{
  font-size: .9rem;
  font-style: italic;
  margin-bottom: 1rem;
}
.rb-single-subtitle a{
  text-decoration: none;
  text-transform: uppercase;
}

.rb-single-tags{
  font-size: .9rem;
}

.rb-single-tags a{
  text-decoration: none;
  text-transform: lowercase;
  font-size: .8rem;
  color: var(--rb-small-link-color);
  padding: .2rem .5rem;
  border: .1rem solid var(--rb-border-color);
  border-radius: .5rem;
}

.rb-single-tags a:hover{
  color: var(--rb-small-link-hover-color);
}

.rb-header-menu{
  display: grid;
  grid-template-columns: auto 2rem;
  border-top: .05rem dashed var(--rb-border-color);
  border-bottom: .05rem dashed var(--rb-border-color);
}

.rb-header-menu-links{
  align-content: center;
  justify-content:first;
}

.rb-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.rb-nav ul li {
  position: relative;
  display: inline-block;
}


.rb-nav a {
  color: var(--rb-color);
  text-decoration: none;
  padding: 0.5em .25rem;
  display: block;
}

ul.rb-sub-nav{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background: var(--rb-bg-color);
  border: .05rem dashed var(--rb-border-color);;
}

.rb-nav ul li:hover ul.rb-sub-nav {
  display: block;
}

ul.rb-sub-nav li {
  margin: 0;
  width: 100%;
  white-space: nowrap;
}

ul.rb-sub-nav li a{
  color: var(--rb-color);
  padding: .5rem;
}

ul.rb-sub-nav li a:hover{
  background-color: var(--rb-element-hover-color);
}

ul.rb-sub-nav li a:focus ul.rb-sub-nav{
  display: none;
}

.rb-copy{
  font-size: .9rem;
  align-self: middle;
  justify-self: start;
}

.rb-social-icons{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  align-self: middle;
  justify-self: end;
}

/* Icons */
.rb-social-icons a {
  color: var(--rb-small-link-color);
  font-size: 1rem;
}

.rb-social-icons a:hover {
  color:var(--rb-small-link-hover-color);
}

.rb-ms-header{
  text-decoration: none;
  color: var(--rb-color);
}

/* Added custom for overflow */
pre, .highlight {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  word-break: normal;
  white-space: pre;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 0.9rem;
}

.highlight{
  background-color: var(--rb-code-bg-color);
  padding: 0 1rem;
  border: var(--rb-shadow-border-color) .05rem solid;
  border-radius: .5rem;
  box-shadow: inset 0 0 .1rem 0 var(--rb-shadow-color);
}

pre.chroma code[data-lang]{
  position: relative;
  padding-top: 1rem;
  display: block;
}

pre.chroma code[data-lang]::after {
  content: attr(data-lang);
  position: absolute;
  top: 0;
  right: 0;
  color: var(--rb-code-lang-color);
  font-size: 0.8em;
  text-transform: lowercase;
  pointer-events: none;
}

p code {
  background-color: var(--rb-code-bg-color);
  font-size: 0.9rem !important;
  padding: .2rem .4rem;
  border: var(--rb-shadow-border-color) .05rem solid;
  border-radius: .5rem;
  box-shadow: inset 0 0 .1rem 0 var(--rb-shadow-color);
}

h2.rb-single-comments{
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: .05rem dashed var(--rb-border-color);
}

/* 
 * The following three classes are used by menu items in Fonts
 */
a.rb-serif{
  font-family: "Ovo", serif;
}

a.rb-monospace{
  font-family: "Courier Prime", monospace;
}

a.rb-sans-serif{
  font-family: "helvetica-neue-lt-pro", sans-serif;
}

@media (max-width: 768px){
  img {
    max-width: calc(100vw - 2rem);
  }
}

@media (max-width: 480px){
  .rb-home-posts {
    gap: .5rem;
  }
  .rb-home-posts .rb-post-title{
    border-top: .05rem solid var(--rb-shadow-border-color);
    padding-top: 1rem;
    margin: 0 0 1rem 0;
  }
  .rb-home-posts .rb-post-date{
    border-top: .05rem solid var(--rb-shadow-border-color);
    padding-top: 1rem;
  }
  .rb-home-posts .rb-post-category a{
    padding: .1rem .25rem;
  }
  footer{
    grid-template-columns: auto 3rem;
  }
  .rb-copy{
    font-size: .85rem;
  }
  ul.rb-sub-nav{
    border: .05rem solid var(--rb-shadow-border-color);;
    box-shadow: 0 0 .5rem 0 var(--rb-shadow-color);
  }
  ul.rb-sub-nav li a{
    padding: 1rem;
  }
}
