:root {
    --rb-color: #fff;
    --rb-link-color: #adef33;
    --rb-link-hover-color: #d7ff8d;
    --rb-link-visited-color: #7bbd00;
    --rb-small-link-color: #999;
    --rb-small-link-hover-color: #ccc;
    --rb-border-color: #999;
    /*Used in menu hover*/
    --rb-element-hover-color: #333;

    --rb-shadow-color:#ededed;
    --rb-shadow-border-color: #eee;
    --rb-code-bg-color: #fafafa;  
    --rb-code-lang-color: #999;  
    --rb-bg-color: #222;
}