<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css">
<!--including codeblocks css-->
<link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}">
<!-- logic to rotate css -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Ovo&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/crj3asf.css">
<link id="rb-stylesheet" rel="stylesheet" href="/css/{{ site.Params.customCss}}">
<script>
    const link = document.getElementById('rb-stylesheet');

    // Define your stylesheets in rotation order
    const styles = ['/css/ovo.css', '/css/courier-prime.css', '/css/helvetica-neue.css'];

    // Get saved stylesheet or fallback to default for the site
    let currentIndex = localStorage.getItem('themeIndex') || {{ site.Params.customCssIndex }};
    currentIndex = parseInt(currentIndex);
    link.href = styles[currentIndex];

    function rotateCSS() {
      // Move to next index (wrap around at end)
      currentIndex = (currentIndex + 1) % styles.length;
      link.href = styles[currentIndex];
      localStorage.setItem('themeIndex', currentIndex);
    }
</script>
