<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link id="rb-color-stylesheet" rel="stylesheet" href="/css/colors/{{ site.Params.defaultColorCss}}">
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css">
<!--including codeblocks css-->
<link rel="stylesheet" href="{{ "css/syntax.css" | relURL }}">
<!-- logic to rotate css -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Ovo&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/crj3asf.css">
<link id="rb-font-stylesheet" rel="stylesheet" href="/css/fonts/{{ site.Params.defaultFontCss}}">
<script>
    const fontLink = document.getElementById('rb-font-stylesheet');
    const colorLink = document.getElementById('rb-color-stylesheet');

    // Define your stylesheets in rotation order
    const fontStyles = ['/css/fonts/ovo.css', '/css/fonts/courier-prime.css', '/css/fonts/helvetica-neue.css'];
    const colorStyles = ['/css/colors/light.css', '/css/colors/dark.css'];

    // Get saved fontStylesheet or fallback to default for the site
    let currentFontIndex = localStorage.getItem('fontIndex') || {{ site.Params.defaultFontCssIndex }};
    currentFontIndex = parseInt(currentFontIndex);
    fontLink.href = fontStyles[currentFontIndex];

    // Similar for color
    let currentColorIndex = localStorage.getItem('colorIndex') || {{ site.Params.defaultColorCssIndex }};
    currentColorIndex = parseInt(currentColorIndex);
    colorLink.href = colorStyles[currentColorIndex];
    //Set Giscus Theme Variable based on color. this will be used in single.html's script tag while initializing
      if(currentColorIndex==1){
        giscusTheme = "noborder_dark";
      } else {
        giscusTheme = "noborder_light";
      }

    function rotateFontCSS() {
      // Move to next index (wrap around at end)
      currentFontIndex = (currentFontIndex + 1) % fontStyles.length;
      fontLink.href = fontStyles[currentFontIndex];
      localStorage.setItem('fontIndex', currentFontIndex);
    }
    function setFontCSS(passedFontIndex){
      fontLink.href = fontStyles[passedFontIndex];
      localStorage.setItem('fontIndex', passedFontIndex);
    }

    function rotateColorCSS() {
      // Move to next index (wrap around at end)
      currentColorIndex = (currentColorIndex + 1) % colorStyles.length;
      colorLink.href = colorStyles[currentColorIndex];
      localStorage.setItem('colorIndex', currentColorIndex);
    }
    function setColorCSS(passedColorIndex){
      colorLink.href = colorStyles[passedColorIndex];
      localStorage.setItem('colorIndex', passedColorIndex);
      //Set Giscus Theme based on color
      if(passedColorIndex=="1"){
        setGiscusTheme("noborder_dark");
      } else {
        setGiscusTheme("noborder_light");
      }
    }
    // The following function will not work if the iframe doesn't load due to lazy-load
    function setGiscusTheme(theme) {
      const giscusFrame = document.querySelector('iframe.giscus-frame');
      if (giscusFrame) {
        giscusFrame.contentWindow.postMessage({
            giscus: {
              setConfig: {
                theme: theme, // e.g., 'light', 'dark', 'preferred_color_scheme', 'transparent_dark', 'noborder_dark', 'noborder_light', etc.
              },
            },
          },
          'https://giscus.app'
        );
      }
    }
</script>
