body{
    font-family: "Ovo", serif;
    font-optical-sizing: auto;
}

.rb-header-css-switch a{
    font-family: "Courier Prime", monospace;
}

h1{
    font-family: "Ovo", serif;
    font-size: 1.4rem;
}
h2{
    font-size: 1.3rem;;
}