{{ define "main" }}
  {{ .Content }}
  <h1 class="rb-home-posts-title">Latest Posts</h1>
    {{ $pages := site.RegularPages.ByDate.Reverse }}
    {{ $lastYear := "" }}
    {{ range $pages }}
      {{ $year := .Date.Format "2006" }}
      {{ if ne $year $lastYear }}
        <h2 class="rb-home-posts-year">{{ $year }}</h2>
        {{ $lastYear = $year }}
      {{ end }}
      <div class="rb-home-posts">
        <div class="rb-post-date">
          {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
          {{ $dateHuman := .Date | time.Format "Jan 02" }}
          <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        </div>
        <div class="rb-post-title">
          <div class="rb-post-category">
            {{ with .Params.categories }}
              {{ $firstCategory := index . 0 }}
              <a href="{{ "categories/" | relLangURL }}{{ $firstCategory | urlize }}">&rarr;&nbsp;{{ $firstCategory }}</a>
            {{- /* using {{- end -}} instead of {{ end }} trims the whitespace */ -}}
            {{- end -}}
          </div>
          <a href="{{ .RelPermalink }}">{{ path.Base .RelPermalink }}</a>&nbsp;
          {{ with .Params.tags }}
          <div class="rb-post-tags">
            {{ range $index, $cat := . }}
              {{ if $index }} {{ end }}<a href="{{ "tags/" | relLangURL }}{{ $cat | urlize }}">{{ $cat }}</a>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
  {{ end }}
{{ end }}